/**
 * Button
 *
 * @since   1.0.0
 * @package _rock
 */

/**
 * Base button hover
 */
 @mixin button-hover {
	background-color: $primary-light;
	border-color: $primary-light;
}


/**
 * Secondary hovered/focused button
 */
@mixin button-secondary-hover {
	background-color: $secondary-light;
	border-color: $secondary-light;
}


/**
 * Ghost button hover
 */
@mixin button-ghost-hover {
	color: $white;
	border-color: $primary;
	background-color: $primary;

	&.light {
		color: $black;
		background-color: $white;
		border-color: $white;
	}
}


/**
 * Secondary button
 */
@mixin button-secondary {
	background-color: $secondary;
	border-color: $secondary;

	&:hover, &:focus {
		@include button-secondary-hover;
	}
}


/**
 * Light ghost button
 */
@mixin button-ghost-light {
	color: $white;
	border-color: $white;
}


/**
 * Ghost button
 */
@mixin button-ghost {
	color: $primary;
	background-color: transparent;
	border-color: $primary;

	&:hover, &:focus {
		@include button-ghost-hover;
	}

	&.light {
		@include button-ghost-light;
	}
}



/**
 * Base button
 */
@mixin button {
	@include flex-row( true, true );
	padding: rem-calc(15) rem-calc(25);
	text-align: center;
	font-size: $global-font-size;
	background: $primary;
	border: $border-width solid $primary;
	outline: none;
	cursor: pointer;
	transition-property: background-color, border-color, color;

	@include transition-ease-in-out;

	&, &:visited {
		color: $white;
	}

	.icon {
		&:first-child {
			margin-left: rem-calc(-3);
			margin-right: rem-calc(10);
		}
		&:last-child {
			margin-left: rem-calc(10);
		}
	}

	span {
		display: inline-block;
	}

	&:hover, &:focus {
		@include button-hover;
	}

	&.secondary {
		@include button-secondary;
	}

	&.ghost {
		@include button-ghost;
	}

}

button, [role="button"], [type="submit"], [type="button"] {
	@include button;
}
