/**
 * Pagination
 *
 * @since 1.0.0
 */

// prev/next buttons
.nav-links {
	font-size: 0;

	.nav-previous, .nav-next {
		display: inline-block;

		&:nth-child(2) {
			margin-left: bsu(1/3);
		}
	}

	a {
		@include button;
	}
}

// numbered
.numbered-pagination {
	width: 100%;
	line-height: 1;

	ul, li, a,
	.current, .dots {
		display: flex;
		flex-flow: row nowrap;
	}

	ul, a,
	.current, .dots {
		justify-content: center;
	}

	li {
		margin: 0 rem-calc(5);
	}

	a, .current, .dots {
		align-items: center;
		padding: rem-calc(9) rem-calc(11);
		min-width: rem-calc(44);
		color: $gray-dark;
	}

	a, .current {
		border: $border-width solid $gray;
	}

	a:hover,
	.current {
		border-color: $primary;
		color: $primary;
	}

	a {
		transition-property: color, border-color;
		@include transition-ease-in-out;
	}

	.dots,
	.prev, .next {
		padding-left: rem-calc(6);
		padding-right: rem-calc(6);
		min-width: 0;
	}

	.current, .dots {
		cursor: default;
	}

	.prev, .next {
		font-size: 0;
		color: $gray;

		&, &:hover {
			border-color: transparent;
		}

		.svg-inline--fa {
			font-size: $global-font-size;
		}
	}

} // .numbered-pagination
