/**
 * Footer
 *
 * @since   1.0.0
 * @package _rock
 */

footer[role="contentinfo"] {
	position: relative;
	flex-shrink: 0;
}

// main footer content
.footer-main {
	padding: 5% 0;
	background: $primary-light url('../images/bg_transparent-bokeh.png') no-repeat center center;
	background-size: cover;

	// wrap/ basic grid layout
	.wrap {
		display: grid;
		grid-gap: bsu(1);
		grid-template-columns: 1fr;

		@include breakpoint( medium ) {
			grid-template-columns: 55% auto;
			grid-gap: bsu(3);
		}
	}

	// logo
	.svg {
		max-width: 280px;
		margin-bottom: bsu(1/2);
	}

	// address
	address {
		margin-bottom: bsu(1/2);
	}

	//phone number
	.footer-phone {
		font-size: rem-calc(20);
	}

	// horizontal rule
	hr {
		width: 110%;
		transform: translateX(-5%);
	}

	// office hours
	.office-hours {
		width: 100%;
		max-width: 350px;
		column-count: 2;
    	column-gap: bsu(1/2);

		li {
			padding-bottom: bsu(1);
		}
	}

	// titles
	h2 {
		margin-bottom: bsu(1);
		font-weight: 500;
		color: $secondary;
		text-transform: uppercase;
	}

	// lists
	ul {
		margin-bottom: bsu(1);
	}
}

// copyright
.copyright {
	padding: bsu(3/4) 0;
	background: $primary;
	color: $gray;
}
