/**
 * Header
 *
 * @since   1.0.0
 * @package _rock
 */

 header[role="banner"] {

 	width: calc(100% - #{$header-height});
 	background: rgba($white, 0.5);
 	padding: 0 5%;
 	position: fixed;
 	top: 0;
 	right: 0;
 	z-index: 50;

	// logo / phone CTA wrapper
	.header-content {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		width: 100%;
		max-width: $wrap-max;
		margin: 0 auto;
		height: $header-height;
		position: relative;
		z-index: 1;
		z-index: 50
	}

	// logo
	.site-logo {
		display: inline-block;
		margin-right: auto;

		p {
			display: none;
		}
	}

	.svg {
		width: 160px;
	}

	// apply .screen-reader-text to phone CTA on menu break
	// (cannot presently @extend into a media query so the class contents must be manually applied)
	@media screen and (max-width: 640px) {
		.cta-text {
			clip: rect(1px, 1px, 1px, 1px);
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;

			&:focus {
				background-color: #ffffff;
				border-radius: 3px;
				-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
				box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
				clip: auto !important;
				color: #000000;
				display: block;
				font-weight: bold;
				height: auto;
				left: 5px;
				line-height: normal;
				padding: 15px 23px 14px;
				text-decoration: none;
				top: 5px;
				width: auto;
				z-index: 100000;
			}
		}
	}

 	// responsive styles
	@include breakpoint( menu-break ) {
		width: calc(100% - #{$header-height-desk});

		.header-content {
			height: $header-height-desk;
		}

		.svg {
			width: 280px;
		}

		.phone-cta {
			text-transform: uppercase;

			.svg-inline--fa{
				display: none;
			}
		}
	}
}


/**
 * Mobile navigation toggle
 */
 #menu-toggle {
 	width: $header-height;
 	height: $header-height;
 	border: 0;
 	padding: 0;
 	background: $primary-dark;
 	position: fixed;
 	left: 0;
 	top: 0;
 	transition-property: background;
 	@include transition-ease-in-out( 200ms );

 	// hamburger icon
 	.hamburger {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include hamburger( 30px, 4px, 8px, $white);
	}

	// toggle-button text
	.toggle-text {
		width: 100%;
		height: 16px;
		overflow: hidden;
		position: absolute;
		left: 0;
		bottom: 5px;

		&:before,
		&:after {
			display: block;
			width: 100%;
			height: 16px;
			text-align: center;
			font-size: rem-calc(10);
			text-transform: uppercase;
			color: $gray-dark;
			transition: all 0.2s ease;
		}

		&:before {
			content: 'menu';
		}

		&:after {
			content: 'close';
		}
	}

	// toggled styles
	&.toggled {
		.hamburger {
			@include hamburger-to-cross;
		}

		.toggle-text {
			&:before,
			&:after {
				transform: translateY(-16px);
			}

			&:before {
				//transform: translateY(-16px);
			}

			&:before {
				//transform: translateY(0);
			}
		}
	}

	// hover/focus styles
	&:hover,
	&:focus {
		background: $primary;
	}

	// responsive styles
	@include breakpoint( menu-break ) {
		width: $header-height-desk;
		height: $header-height-desk;
		background: primary;
	}
}
