/**
 * Navigation
 *
 * @since   1.0.0
 * @package _rock
 */
$toggle-width : 40px;
$toggle-space : 10px;

header[role="banner"] nav {
	width: calc(100% - #{$header-height});
	height: 100%;
	padding:  $header-height 5% 0;
	background: $primary;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 40;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	@include transition-ease-in-out( 400ms );

	&, a, .toggle-sub {
		display: block;
	}

	// menu display after triggered into view
	&.toggled {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	// menu too tall for window
	// @see js/foot/navigation-animate.js
	&.scroll-y {
		bottom: 100%;
		overflow-y: scroll;

		&.toggled {
			bottom: 0;
		}
	}

	ul {
		margin: 2.5% auto 0;
		padding: 0;
		width: 100%;
		max-width: $wrap-max;
	}

	li {
		display: flex;
		flex-flow: row wrap;
		position: relative;
	}

	.menu-item-has-children > a {
		width: calc( 100% - #{$toggle-width + $toggle-space} );
	}

	.sub-toggled {

		> .toggle-sub {
			transform: rotateX( 180deg );
		}
	}

	a {
		flex: 1 0 auto;
		padding: bsu(1/4) bsu(1/2) bsu(1/4) 0;
		width: 100%;
		text-decoration: none;
		color: $secondary-light;
		font-size: rem-calc(20);
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: $white;
		}
	}

	// triangle sub-menu toggler
	.toggle-sub {
		flex: 0 1 auto;
		// flex: 0 1 $toggle-width;
		width: $toggle-width;
		margin-left: $toggle-space;
		padding: 0;
	}

	.sub-menu {
		order: 1;
		display: none;
	}

	// responsive styles
	@include breakpoint( menu-break ) {
		width: calc(100% - #{$header-height-desk});
		padding: $header-height-desk 5% 0;
	}
}
