/**
 * Base and individual styles for all content sections
 *
 * @since   1.0.0
 * @package _rock
 */

/*
 * base section styles
 *
 * typically each hsection would get their own dedicated .scss file.
 * however, seeing as how limited the individual styles are needed for this demo I'll keep them all here.
 */
.wpc-section {
	padding: 10% 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	h1, h2 {
		text-align: center;
	}

	img {
		width: 100%;
		line-height: 0;
	}
}

// bottom angle effect + below angle spacing adjustment (desktop only)
@include breakpoint ( medium ) {
	.bottom-angles-shadow {
		padding: 0;
		filter: drop-shadow(0 60px 30px rgba($black, 0.3));
		position: relative;
		z-index: 2;
	}

	.bottom-angles {
		//nesting the clip-path within a parent is what makes the box-shadow adhere to the shape
		clip-path: polygon(50% 99%, 100% 85%, 100% 0, 0 0, 0 85%);
	}

	.angles-top-adjust {
		padding-top: 15%;
		margin-top: -10%;
		position: relative;
		z-index: 1;
	}
}


/*
 * Individual section styles
 */

// hero banner
.hero-banner {

	&, .bottom-angles-inner {
		padding: 0;
	}
}

// section: intro
.doctor-intro {
	background-color: $secondary-dark;
	background-image: url('../images/bg_brown-tiles.jpg');

	p {
		margin-right: auto;
		margin-left: auto;
		max-width: 600px;
	}
}

// section: services
.services {
	background-color: $primary;
	background-image: url('../images/bg_wpc-office.jpg');

	.bottom-angles-inner {
		padding: 10% 0;
	}
}

.services-blocks {
	display: grid;
	grid-gap: bsu(1);
	grid-template-columns: 1fr;
	margin: bsu(1) auto 0;
	width: 100%;
	max-width: 700px;

	@include breakpoint( medium ) {
		grid-gap: bsu(2);
		grid-template-columns: 1fr 1fr;
	}
}

.service-single a{
	display: block;
	text-align: center;
	text-transform: uppercase;

	.svg {
		display: inline-block;
		background: radial-gradient(circle, rgba($black, 0.4) 0%, rgba($black, 0) 100%);
		margin: bsu(1/2);
	}

	@include breakpoint( large ) {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		text-align: left;
	}

	&:hover,
	&:focus {
		color: $secondary-light;

		svg {
			fill: $secondary-light
		}
	}
}

// section: testimonials
.testimonials {
	background-color: $gray;
	background-image: url('../images/bg_white-bokeh.jpg');

	h2 {
		color: $secondary-light;
	}

	p {
		color: $black;
	}
}

.testimonial-single {
	margin: 0 auto;
	max-width: 600px;
}

.star-rating {
	display: block;
	margin-top: bsu(1/2);
	text-align: center;
	color: $primary;
	font-size: rem-calc(20);
}

// section: partners
.partners {
	background-color: $secondary-dark;
	background-image: url('../images/bg_brown-tiles-with-logo.jpg');
}

.partners-grid {
	display: grid;
	grid-gap: bsu(1);
	grid-template-columns: 1fr;
	margin-top: bsu(1);

	@include breakpoint( medium ) {
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint( large ) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


