/**
 * Main Styles
 *
 * @since   1.0.0
 * @package _rock
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Vendor Partials
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Helper functions
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Base spacing unit
 */
/**
 * Create a "transparent" version of a color
 */
/**
 * Rem Calc!
 */
/**
 * Variables
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Primary & Secondary Colors
 */
/**
 * Neutral & Support Colors
 */
/**
 * Fonts
 */
/**
 * Spacing
 */
/**
 * Misc heights/widths
 */
/**
 * Borders
 */
/**
 * Mixins
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Generic wrapper
 */
/**
 * Object-fit "cover"
 */
/**
 * Centered block
 */
/**
 * Centered element trick!
 */
/**
 * Make a flex "row"
 */
/**
 * Font smoothing
 */
/**
 * Kill font smoothing!
 */
/**
 * Inline text link
 */
/**
 * Styled list
 */
/**
 * Bulleted list
 *
 * Icons inserted with js/foot/list-icons.js
 */
/**
 * Numbered list
 */
/**
 * Remove bottom margin if last child
 */
/**
 * Remove top margin if first child
 */
/**
 * WYSIWYG content format
 */
/**
 * Responsive embed container
 */
/**
 * Fluid Property!
 */
/**
 * Overlay
 */
/**
 * Generic transition
 */
/**
 * Clearfix
 */
/**
 * Transforming Hamburger
 */
/**
 * Breakpoints
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Typography
 *
 * @since   1.0.0
 * @package _rock
 */
*::-moz-selection {
  background: rgba(39, 70, 87, 0.9);
  color: #ffffff;
  text-shadow: none; }
*::selection {
  background: rgba(39, 70, 87, 0.9);
  color: #ffffff;
  text-shadow: none; }

*::-moz-selection {
  background: rgba(39, 70, 87, 0.9);
  color: #ffffff;
  text-shadow: none; }

html, body {
  font-size: 16px; }

body {
  line-height: 1.6667;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 500; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600; }

/**
 * Paragraphs
 */
p {
  margin: 1.11113rem 0 0; }
  p a {
    color: #ffffff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
    p a:hover {
      color: #d2973b; }

/**
 * Anchors
 */
a, a:visited {
  color: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #d2973b; }

/**
 * Blockquotes & Cites
 */
blockquote, q {
  margin: 0;
  font-style: italic; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/**
 * Horizontal Rule
 */
hr {
  margin: 1.6667rem 0;
  border: none;
  height: 2px;
  background: #d2973b; }

/**
 * Address
 */
address {
  font-style: normal; }

/**
 * Lists
 */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul.bulleted li,
ol.numbered li {
  position: relative;
  margin: 0.83335rem 0;
  padding-left: 1.6667rem; }
  ul.bulleted li:before, ul.bulleted li:after,
  ul.bulleted li .svg-inline--fa,
  ol.numbered li:before,
  ol.numbered li:after,
  ol.numbered li .svg-inline--fa {
    position: absolute;
    left: 0; }

ul.bulleted ul, ul.bulleted ol,
ol.numbered ul,
ol.numbered ol {
  margin-top: 0; }

ul.bulleted a,
ol.numbered a {
  color: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  ul.bulleted a:hover,
  ol.numbered a:hover {
    color: #d2973b; }

ol.numbered, ol.numbered ol {
  counter-reset: section; }

ol.numbered li:before {
  counter-increment: section;
  content: counters(section, ".") "."; }

ol.numbered ol li:before {
  font-size: 0.9rem; }

/**
 * WYSIWYG content output
 */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.entry-content > ul, .entry-content > ol,
.entry-content form,
.entry-content blockquote {
  margin-top: 1.6667rem; }

.entry-content [role="button"] {
  margin: 1.6667rem 0.83335rem 0 0; }

.entry-content > h1:last-child, .entry-content > h2:last-child, .entry-content > h3:last-child, .entry-content > h4:last-child, .entry-content > h5:last-child, .entry-content > h6:last-child,
.entry-content > p:last-child,
.entry-content > ol:last-child, .entry-content > ul:last-child,
.entry-content blockquote:last-child, .entry-content blockquote p:last-child {
  margin-bottom: 0; }

.entry-content > h1:first-child, .entry-content > h2:first-child, .entry-content > h3:first-child, .entry-content > h4:first-child, .entry-content > h5:first-child, .entry-content > h6:first-child,
.entry-content > p:first-child,
.entry-content > ol:first-child, .entry-content > ul:first-child,
.entry-content blockquote:first-child, .entry-content blockquote p:first-child {
  margin-top: 0; }

.entry-content > ul li, .entry-content > ol li {
  position: relative;
  margin: 0.83335rem 0;
  padding-left: 1.6667rem; }
  .entry-content > ul li:before, .entry-content > ul li:after,
  .entry-content > ul li .svg-inline--fa, .entry-content > ol li:before, .entry-content > ol li:after,
  .entry-content > ol li .svg-inline--fa {
    position: absolute;
    left: 0; }

.entry-content > ul ul, .entry-content > ul ol, .entry-content > ol ul, .entry-content > ol ol {
  margin-top: 0; }

.entry-content > ul a, .entry-content > ol a {
  color: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  .entry-content > ul a:hover, .entry-content > ol a:hover {
    color: #d2973b; }

.entry-content > ol, .entry-content > ol ol {
  counter-reset: section; }

.entry-content > ol li:before {
  counter-increment: section;
  content: counters(section, ".") "."; }

.entry-content > ol ol li:before {
  font-size: 0.9rem; }

/**
 * Main Structure
 *
 * @since   1.0.0
 * @package _rock
 */
html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #0d1f2d;
  padding-left: 60px; }
  @media (min-width: 640px) {
    body {
      padding-left: 80px; } }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Wrapper
 */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px; }

/**
 * Main container
 */
#content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

/**
 * Main content container
 */
[role="main"] {
  display: block; }
  [role="main"].default .wrap {
    max-width: 900px; }
  [role="main"] > article {
    width: 100%; }

/**
 * Figure & img fixes
 */
figure {
  margin: 0; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }
  img[data-object-fit="cover"] {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/**
 * SVG
 */
svg {
  display: block;
  height: auto; }

.svg {
  font-size: 0; }

/**
 * Component Partials
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Responsive Embed
 *
 * @since   1.0.0
 * @package _rock
 */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 440px;
  overflow: hidden; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/**
 * Button
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Base button hover
 */
/**
 * Secondary hovered/focused button
 */
/**
 * Ghost button hover
 */
/**
 * Secondary button
 */
/**
 * Light ghost button
 */
/**
 * Ghost button
 */
/**
 * Base button
 */
button, [role="button"], [type="submit"], [type="button"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.9375rem 1.5625rem;
  text-align: center;
  font-size: 16px;
  background: #274657;
  border: 2px solid #274657;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  button, button:visited, [role="button"], [role="button"]:visited, [type="submit"], [type="submit"]:visited, [type="button"], [type="button"]:visited {
    color: #ffffff; }
  button .icon:first-child, [role="button"] .icon:first-child, [type="submit"] .icon:first-child, [type="button"] .icon:first-child {
    margin-left: -0.1875rem;
    margin-right: 0.625rem; }
  button .icon:last-child, [role="button"] .icon:last-child, [type="submit"] .icon:last-child, [type="button"] .icon:last-child {
    margin-left: 0.625rem; }
  button span, [role="button"] span, [type="submit"] span, [type="button"] span {
    display: inline-block; }
  button:hover, button:focus, [role="button"]:hover, [role="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="button"]:hover, [type="button"]:focus {
    background-color: #385F73;
    border-color: #385F73; }
  button.secondary, [role="button"].secondary, [type="submit"].secondary, [type="button"].secondary {
    background-color: #b98727;
    border-color: #b98727; }
    button.secondary:hover, button.secondary:focus, [role="button"].secondary:hover, [role="button"].secondary:focus, [type="submit"].secondary:hover, [type="submit"].secondary:focus, [type="button"].secondary:hover, [type="button"].secondary:focus {
      background-color: #d2973b;
      border-color: #d2973b; }
  button.ghost, [role="button"].ghost, [type="submit"].ghost, [type="button"].ghost {
    color: #274657;
    background-color: transparent;
    border-color: #274657; }
    button.ghost:hover, button.ghost:focus, [role="button"].ghost:hover, [role="button"].ghost:focus, [type="submit"].ghost:hover, [type="submit"].ghost:focus, [type="button"].ghost:hover, [type="button"].ghost:focus {
      color: #ffffff;
      border-color: #274657;
      background-color: #274657; }
      button.ghost:hover.light, button.ghost:focus.light, [role="button"].ghost:hover.light, [role="button"].ghost:focus.light, [type="submit"].ghost:hover.light, [type="submit"].ghost:focus.light, [type="button"].ghost:hover.light, [type="button"].ghost:focus.light {
        color: #000000;
        background-color: #ffffff;
        border-color: #ffffff; }
    button.ghost.light, [role="button"].ghost.light, [type="submit"].ghost.light, [type="button"].ghost.light {
      color: #ffffff;
      border-color: #ffffff; }

/**
 * Datepicker UI theming
 *
 * @since   1.0.0
 * @package _rock
 */
.ui-datepicker {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.15); }

html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden].ui-datepicker {
  padding-right: 0; }

.ui-datepicker-header,
.ui-datepicker-calendar thead {
  color: #ffffff; }

.ui-datepicker-header,
.ui-datepicker-calendar {
  border-bottom: 2px solid #000000; }

.ui-datepicker-header {
  position: relative;
  border-top: 2px solid #000000;
  background: #000000;
  text-align: center; }
  .ui-datepicker-header select {
    margin: 0 0.41668rem;
    padding: 0.41668rem 1.25rem 0.41668rem 0.83335rem;
    width: auto;
    background-image: url("../images/chevron-down-white.svg");
    background-color: transparent;
    background-position: right;
    background-size: 0.75rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer; }
  .ui-datepicker-header option {
    color: #000000; }

.ui-datepicker-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ui-datepicker-prev, .ui-datepicker-next {
  position: absolute;
  top: 0;
  width: 1.25rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 0;
  cursor: pointer; }

.ui-datepicker-prev {
  left: 0.83335rem;
  background-image: url("../images/chevron-square-left.svg"); }

.ui-datepicker-next {
  right: 0.83335rem;
  background-image: url("../images/chevron-square-right.svg"); }

.ui-datepicker-buttonpane {
  padding: 0.41668rem;
  background: #274657; }
  .ui-datepicker-buttonpane button {
    margin-right: 0.41668rem;
    padding: 0.3125rem 1rem;
    background: #b98727; }

.ui-datepicker-calendar {
  font-size: .875rem; }
  .ui-datepicker-calendar thead {
    background: #274657;
    border: none; }
  .ui-datepicker-calendar th, .ui-datepicker-calendar td a {
    text-align: center;
    padding: 0.375rem 0.625rem; }
  .ui-datepicker-calendar td a {
    display: block;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
    .ui-datepicker-calendar td a:hover, .ui-datepicker-calendar td a.ui-state-active {
      color: #ffffff; }
    .ui-datepicker-calendar td a:hover {
      background: #000000; }
    .ui-datepicker-calendar td a.ui-state-active {
      background: #274657;
      font-weight: 700; }
  .ui-datepicker-calendar tr:nth-child(even) {
    background-color: #eaeaea; }
  .ui-datepicker-calendar a {
    color: #000000; }

/**
 * Form
 *
 * @since   1.0.0
 * @package _rock
 */
form ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

input, textarea, select, label {
  display: block;
  width: 100%;
  font-size: 16px; }
  input:focus, textarea:focus, select:focus, label:focus {
    outline: none; }

input, textarea, select {
  margin-bottom: 1.11113rem;
  padding: 0.875rem 1rem;
  background: #ffffff;
  border: 2px solid #d3d3d3;
  border-radius: 0;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  input:focus, textarea:focus, select:focus {
    border-color: #000000; }

textarea {
  resize: vertical;
  height: 11.25rem; }

[type="search"] {
  -webkit-appearance: textfield; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select {
  padding-right: 52px;
  background-image: url("../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: calc( 100% - 20px) 50%;
  background-size: 16px; }
  select::-ms-expand {
    display: none; }

label {
  margin-bottom: 0.41668rem;
  padding-left: 0.875rem; }

/**
 * Checkboxes/radios
 */
[type="checkbox"],
[type="radio"] {
  position: absolute;
  width: 4px;
  height: 4px;
  opacity: 0; }

[type="checkbox"] + label,
[type="radio"] + label,
.woocommerce-form__label-for-checkbox {
  position: relative;
  margin: 0 0 0 0.625rem;
  padding: 0.375rem 0 0.375rem 2.5rem;
  width: auto;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color; }
  .gfield_checkbox [type="checkbox"] + label,
  .gfield_radio [type="checkbox"] + label, .gfield_checkbox
  [type="radio"] + label,
  .gfield_radio
  [type="radio"] + label, .gfield_checkbox
  .woocommerce-form__label-for-checkbox,
  .gfield_radio
  .woocommerce-form__label-for-checkbox {
    margin-left: 0.5rem; }
  [type="checkbox"] + label, [type="checkbox"] + label:before, [type="checkbox"] + label:after,
  [type="radio"] + label,
  [type="radio"] + label:before,
  [type="radio"] + label:after,
  .woocommerce-form__label-for-checkbox,
  .woocommerce-form__label-for-checkbox:before,
  .woocommerce-form__label-for-checkbox:after {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
  [type="checkbox"] + label:before, [type="checkbox"] + label:after,
  [type="radio"] + label:before,
  [type="radio"] + label:after,
  .woocommerce-form__label-for-checkbox:before,
  .woocommerce-form__label-for-checkbox:after {
    content: '';
    position: absolute; }
  [type="checkbox"] + label:before,
  [type="radio"] + label:before,
  .woocommerce-form__label-for-checkbox:before {
    top: 0.3125rem;
    left: 0;
    margin-right: 0.875rem;
    width: 25px;
    height: 25px;
    border: 2px solid #d3d3d3;
    -webkit-transition-property: border-color;
    transition-property: border-color; }
  [type="checkbox"] + label:after,
  [type="radio"] + label:after,
  .woocommerce-form__label-for-checkbox:after {
    top: 12px;
    left: 7px;
    width: 11px;
    height: 11px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: background, -webkit-transform;
    transition-property: background, -webkit-transform;
    transition-property: background, transform;
    transition-property: background, transform, -webkit-transform; }
  [type="checkbox"] + label:hover,
  [type="radio"] + label:hover,
  .woocommerce-form__label-for-checkbox:hover {
    color: #274657; }

[type="checkbox"]:focus + label:before,
[type="radio"]:focus + label:before {
  border-color: #274657; }

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after,
.woocommerce-form__label-for-checkbox.input-checked:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #274657; }

[type="radio"] + label:before,
[type="radio"] + label:after {
  border-radius: 9999px; }

.fields > li ul, ul.gfield_checkbox,
.fields > li ul, ul.gfield_radio {
  margin: 0.41668rem 0 1.11113rem; }

.ginput_container_date {
  position: relative; }
  .ginput_container_date .svg-inline--fa {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    font-size: 1.25rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #d3d3d3; }

[type="submit"] {
  margin-top: 0.55557rem; }

/**
 * Validation
 */
.validation_error,
.validation_message,
.validation-message {
  color: #fa0f48;
  font-size: 16px; }

.validation_error {
  margin-bottom: 1.6667rem;
  padding: 0.9375rem 1.25rem;
  text-align: center;
  border: 2px solid #fa0f48; }

.validation_message,
.validation-message {
  margin-top: -0.55557rem;
  margin-bottom: 1.25002rem;
  padding-left: 0.8125rem; }
  .gfield_checkbox .validation_message,
  .gfield_radio .validation_message, .gfield_checkbox
  .validation-message,
  .gfield_radio
  .validation-message {
    padding-left: 0.75rem; }
  .validation_message .svg-inline--fa,
  .validation-message .svg-inline--fa {
    margin-right: 0.4375rem; }
  @media (min-width: 640px) {
    .validation_message,
    .validation-message {
      margin-top: -0.83335rem; } }

.fields > li.error input, .fields > li.error textarea, .fields > li.error select, .gfield_error input, .gfield_error textarea, .gfield_error select {
  border-color: #fa0f48; }

/**
 * Layout
 */
.fields, .gform_fields {
  font-size: 0;
  margin: 0 -0.83335rem; }

.fields > li, .gfield {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0.83335rem;
  width: 100%; }
  @media (min-width: 640px) {
    .fields > li.one-half, .gfield.one-half {
      width: 50%; } }

/**
 * Pagination
 *
 * @since 1.0.0
 */
.nav-links {
  font-size: 0; }
  .nav-links .nav-previous, .nav-links .nav-next {
    display: inline-block; }
    .nav-links .nav-previous:nth-child(2), .nav-links .nav-next:nth-child(2) {
      margin-left: 0.55557rem; }
  .nav-links a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.9375rem 1.5625rem;
    text-align: center;
    font-size: 16px;
    background: #274657;
    border: 2px solid #274657;
    outline: none;
    cursor: pointer;
    -webkit-transition-property: background-color, border-color, color;
    transition-property: background-color, border-color, color;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
    .nav-links a, .nav-links a:visited {
      color: #ffffff; }
    .nav-links a .icon:first-child {
      margin-left: -0.1875rem;
      margin-right: 0.625rem; }
    .nav-links a .icon:last-child {
      margin-left: 0.625rem; }
    .nav-links a span {
      display: inline-block; }
    .nav-links a:hover, .nav-links a:focus {
      background-color: #385F73;
      border-color: #385F73; }
    .nav-links a.secondary {
      background-color: #b98727;
      border-color: #b98727; }
      .nav-links a.secondary:hover, .nav-links a.secondary:focus {
        background-color: #d2973b;
        border-color: #d2973b; }
    .nav-links a.ghost {
      color: #274657;
      background-color: transparent;
      border-color: #274657; }
      .nav-links a.ghost:hover, .nav-links a.ghost:focus {
        color: #ffffff;
        border-color: #274657;
        background-color: #274657; }
        .nav-links a.ghost:hover.light, .nav-links a.ghost:focus.light {
          color: #000000;
          background-color: #ffffff;
          border-color: #ffffff; }
      .nav-links a.ghost.light {
        color: #ffffff;
        border-color: #ffffff; }

.numbered-pagination {
  width: 100%;
  line-height: 1; }
  .numbered-pagination ul, .numbered-pagination li, .numbered-pagination a,
  .numbered-pagination .current, .numbered-pagination .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .numbered-pagination ul, .numbered-pagination a,
  .numbered-pagination .current, .numbered-pagination .dots {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .numbered-pagination li {
    margin: 0 0.3125rem; }
  .numbered-pagination a, .numbered-pagination .current, .numbered-pagination .dots {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5625rem 0.6875rem;
    min-width: 2.75rem;
    color: #9b9b9b; }
  .numbered-pagination a, .numbered-pagination .current {
    border: 2px solid #d3d3d3; }
  .numbered-pagination a:hover,
  .numbered-pagination .current {
    border-color: #274657;
    color: #274657; }
  .numbered-pagination a {
    -webkit-transition-property: color, border-color;
    transition-property: color, border-color;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms; }
  .numbered-pagination .dots,
  .numbered-pagination .prev, .numbered-pagination .next {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    min-width: 0; }
  .numbered-pagination .current, .numbered-pagination .dots {
    cursor: default; }
  .numbered-pagination .prev, .numbered-pagination .next {
    font-size: 0;
    color: #d3d3d3; }
    .numbered-pagination .prev, .numbered-pagination .prev:hover, .numbered-pagination .next, .numbered-pagination .next:hover {
      border-color: transparent; }
    .numbered-pagination .prev .svg-inline--fa, .numbered-pagination .next .svg-inline--fa {
      font-size: 16px; }

/**
 * Breadcrumb (via Yoast)
 *
 * @since 1.0.0
 */
.breadcrumb span,
.breadcrumb a,
.breadcrumb .breadcrumb_last {
  display: inline-block; }

.breadcrumb a,
.breadcrumb .breadcrumb_last {
  padding-left: 0.55557rem;
  padding-right: 0.55557rem;
  color: #9b9b9b; }

.breadcrumb a {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  .breadcrumb a:hover {
    color: #274657; }

.breadcrumb .breadcrumb_last {
  cursor: default; }

.breadcrumb .svg-inline--fa {
  color: #d3d3d3; }

/**
 * Default WordPress Stuff
 *
 * @since   1.0.0
 * @package _rock
 */
/*
	CLEARINGS
*/
.clear:before,
.entry-content:before,
.comment-content:before,
.site-header:before,
.site-footer:before {
  content: " ";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-footer:after {
  clear: both;
  content: " ";
  display: table; }

/*
	ALIGNMENTS
*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 3.3334rem;
  margin-bottom: 1.6667rem; }

.alignright {
  display: inline;
  float: right;
  margin-left: 3.3334rem;
  margin-bottom: 1.6667rem; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
	CAPTIONS / MEDIA
*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*
	SCREEN READERS
*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #000000;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*
	JETPACK
*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/**
 * Social icon navigation
 *
 * @since   1.0.0
 * @package _rock
 */
.socials {
  font-size: 0;
  margin: 0 -0.55557rem; }
  .socials a {
    display: inline-block;
    padding: 0.55557rem; }
  .socials .svg-inline--fa {
    font-size: 16px; }

/**
 * Layout Partials
 *
 * @since   1.0.0
 * @package _rock
 */
/**
 * Header
 *
 * @since   1.0.0
 * @package _rock
 */
header[role="banner"] {
  width: calc(100% - 60px);
  background: rgba(255, 255, 255, 0.5);
  padding: 0 5%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50; }
  header[role="banner"] .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    position: relative;
    z-index: 1;
    z-index: 50; }
  header[role="banner"] .site-logo {
    display: inline-block;
    margin-right: auto; }
    header[role="banner"] .site-logo p {
      display: none; }
  header[role="banner"] .svg {
    width: 160px; }
  @media screen and (max-width: 640px) {
    header[role="banner"] .cta-text {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden; }
      header[role="banner"] .cta-text:focus {
        background-color: #ffffff;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: #000000;
        display: block;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; } }
  @media (min-width: 640px) {
    header[role="banner"] {
      width: calc(100% - 80px); }
      header[role="banner"] .header-content {
        height: 80px; }
      header[role="banner"] .svg {
        width: 280px; }
      header[role="banner"] .phone-cta {
        text-transform: uppercase; }
        header[role="banner"] .phone-cta .svg-inline--fa {
          display: none; } }

/**
 * Mobile navigation toggle
 */
#menu-toggle {
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  background: #0d1f2d;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  #menu-toggle .hamburger {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    margin-top: 12px;
    margin-bottom: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #menu-toggle .hamburger {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
      outline: 1px solid transparent;
      border-radius: 0;
      -webkit-transition-property: background-color, -webkit-transform;
      transition-property: background-color, -webkit-transform;
      transition-property: background-color, transform;
      transition-property: background-color, transform, -webkit-transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #menu-toggle .hamburger::before, #menu-toggle .hamburger::after {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
      outline: 1px solid transparent;
      border-radius: 0;
      -webkit-transition-property: background-color, -webkit-transform;
      transition-property: background-color, -webkit-transform;
      transition-property: background-color, transform;
      transition-property: background-color, transform, -webkit-transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #menu-toggle .hamburger::before, #menu-toggle .hamburger::after {
      position: absolute;
      content: ""; }
    #menu-toggle .hamburger::before {
      top: -12px; }
    #menu-toggle .hamburger::after {
      top: 12px; }
  #menu-toggle .toggle-text {
    width: 100%;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 5px; }
    #menu-toggle .toggle-text:before, #menu-toggle .toggle-text:after {
      display: block;
      width: 100%;
      height: 16px;
      text-align: center;
      font-size: 0.625rem;
      text-transform: uppercase;
      color: #9b9b9b;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #menu-toggle .toggle-text:before {
      content: 'menu'; }
    #menu-toggle .toggle-text:after {
      content: 'close'; }
  #menu-toggle.toggled .hamburger {
    background-color: transparent; }
  #menu-toggle.toggled .hamburger::before {
    -webkit-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg); }
  #menu-toggle.toggled .hamburger::after {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg); }
  #menu-toggle.toggled .toggle-text:before, #menu-toggle.toggled .toggle-text:after {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px); }
  #menu-toggle:hover, #menu-toggle:focus {
    background: #274657; }
  @media (min-width: 640px) {
    #menu-toggle {
      width: 80px;
      height: 80px;
      background: primary; } }

/**
 * Navigation
 *
 * @since   1.0.0
 * @package _rock
 */
header[role="banner"] nav {
  width: calc(100% - 60px);
  height: 100%;
  padding: 60px 5% 0;
  background: #274657;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms; }
  header[role="banner"] nav, header[role="banner"] nav a, header[role="banner"] nav .toggle-sub {
    display: block; }
  header[role="banner"] nav.toggled {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  header[role="banner"] nav.scroll-y {
    bottom: 100%;
    overflow-y: scroll; }
    header[role="banner"] nav.scroll-y.toggled {
      bottom: 0; }
  header[role="banner"] nav ul {
    margin: 2.5% auto 0;
    padding: 0;
    width: 100%;
    max-width: 1200px; }
  header[role="banner"] nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative; }
  header[role="banner"] nav .menu-item-has-children > a {
    width: calc( 100% - 50px); }
  header[role="banner"] nav .sub-toggled > .toggle-sub {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  header[role="banner"] nav a {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0.41668rem 0.83335rem 0.41668rem 0;
    width: 100%;
    text-decoration: none;
    color: #d2973b;
    font-size: 1.25rem;
    text-transform: uppercase; }
    header[role="banner"] nav a:hover, header[role="banner"] nav a:focus {
      color: #ffffff; }
  header[role="banner"] nav .toggle-sub {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 40px;
    margin-left: 10px;
    padding: 0; }
  header[role="banner"] nav .sub-menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: none; }
  @media (min-width: 640px) {
    header[role="banner"] nav {
      width: calc(100% - 80px);
      padding: 80px 5% 0; } }

/**
 * Banner
 *
 * @since   1.0.0
 * @package _rock
 */
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner .wrap {
    position: relative; }
  .banner img {
    z-index: -1; }

/**
 * Footer
 *
 * @since   1.0.0
 * @package _rock
 */
footer[role="contentinfo"] {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.footer-main {
  padding: 5% 0;
  background: #385F73 url("../images/bg_transparent-bokeh.png") no-repeat center center;
  background-size: cover; }
  .footer-main .wrap {
    display: grid;
    grid-gap: 1.6667rem;
    grid-template-columns: 1fr; }
    @media (min-width: 640px) {
      .footer-main .wrap {
        grid-template-columns: 55% auto;
        grid-gap: 5.0001rem; } }
  .footer-main .svg {
    max-width: 280px;
    margin-bottom: 0.83335rem; }
  .footer-main address {
    margin-bottom: 0.83335rem; }
  .footer-main .footer-phone {
    font-size: 1.25rem; }
  .footer-main hr {
    width: 110%;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%); }
  .footer-main .office-hours {
    width: 100%;
    max-width: 350px;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0.83335rem;
    column-gap: 0.83335rem; }
    .footer-main .office-hours li {
      padding-bottom: 1.6667rem; }
  .footer-main h2 {
    margin-bottom: 1.6667rem;
    font-weight: 500;
    color: #b98727;
    text-transform: uppercase; }
  .footer-main ul {
    margin-bottom: 1.6667rem; }

.copyright {
  padding: 1.25002rem 0;
  background: #274657;
  color: #d3d3d3; }

/**
 * Base and individual styles for all content sections
 *
 * @since   1.0.0
 * @package _rock
 */
/*
 * base section styles
 *
 * typically each hsection would get their own dedicated .scss file.
 * however, seeing as how limited the individual styles are needed for this demo I'll keep them all here.
 */
.wpc-section {
  padding: 10% 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .wpc-section h1, .wpc-section h2 {
    text-align: center; }
  .wpc-section img {
    width: 100%;
    line-height: 0; }

@media (min-width: 640px) {
  .bottom-angles-shadow {
    padding: 0;
    -webkit-filter: drop-shadow(0 60px 30px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 60px 30px rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 2; }
  .bottom-angles {
    -webkit-clip-path: polygon(50% 99%, 100% 85%, 100% 0, 0 0, 0 85%);
    clip-path: polygon(50% 99%, 100% 85%, 100% 0, 0 0, 0 85%); }
  .angles-top-adjust {
    padding-top: 15%;
    margin-top: -10%;
    position: relative;
    z-index: 1; } }

/*
 * Individual section styles
 */
.hero-banner, .hero-banner .bottom-angles-inner {
  padding: 0; }

.doctor-intro {
  background-color: #362E26;
  background-image: url("../images/bg_brown-tiles.jpg"); }
  .doctor-intro p {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px; }

.services {
  background-color: #274657;
  background-image: url("../images/bg_wpc-office.jpg"); }
  .services .bottom-angles-inner {
    padding: 10% 0; }

.services-blocks {
  display: grid;
  grid-gap: 1.6667rem;
  grid-template-columns: 1fr;
  margin: 1.6667rem auto 0;
  width: 100%;
  max-width: 700px; }
  @media (min-width: 640px) {
    .services-blocks {
      grid-gap: 3.3334rem;
      grid-template-columns: 1fr 1fr; } }

.service-single a {
  display: block;
  text-align: center;
  text-transform: uppercase; }
  .service-single a .svg {
    display: inline-block;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    margin: 0.83335rem; }
  @media (min-width: 1024px) {
    .service-single a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: left; } }
  .service-single a:hover, .service-single a:focus {
    color: #d2973b; }
    .service-single a:hover svg, .service-single a:focus svg {
      fill: #d2973b; }

.testimonials {
  background-color: #d3d3d3;
  background-image: url("../images/bg_white-bokeh.jpg"); }
  .testimonials h2 {
    color: #d2973b; }
  .testimonials p {
    color: #000000; }

.testimonial-single {
  margin: 0 auto;
  max-width: 600px; }

.star-rating {
  display: block;
  margin-top: 0.83335rem;
  text-align: center;
  color: #274657;
  font-size: 1.25rem; }

.partners {
  background-color: #362E26;
  background-image: url("../images/bg_brown-tiles-with-logo.jpg"); }

.partners-grid {
  display: grid;
  grid-gap: 1.6667rem;
  grid-template-columns: 1fr;
  margin-top: 1.6667rem; }
  @media (min-width: 640px) {
    .partners-grid {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1024px) {
    .partners-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

/**
 * Page Partials
 *
 * @since   1.0.0
 * @package _rock
 */
.breakpoint-test {
  display: none; }
