/**
 * Main Structure
 *
 * @since   1.0.0
 * @package _rock
 */

html, body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: $primary-dark;
	padding-left: $header-height;

	@include breakpoint( menu-break ) {
		padding-left: $header-height-desk;
	}
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}


/**
 * Wrapper
 */
.wrap {
	@include wrap;
}


/**
 * Main container
 */
#content {
	flex: 1 0 auto;
}


/**
 * Main content container
 */
[role="main"] {
	display: block;

	&.default .wrap {
		max-width: 900px;
	}

	> article {
		width: 100%;
	}
}


/**
 * Figure & img fixes
 */
figure {
	margin: 0;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	&[data-object-fit="cover"] {
		@include cover-image;
	}
}


/**
 * SVG
 */
svg {
	display: block;
	height: auto;
}
.svg {
	font-size: 0;
}
