/**
 * Mixins
 *
 * @since   1.0.0
 * @package _rock
 */

/**
 * Generic wrapper
 */
@mixin wrap( $max-width : $wrap-max, $width : $wrap-width ) {
	margin-left: auto;
	margin-right: auto;
	width: $width;
	max-width: $max-width;
}


/**
 * Object-fit "cover"
 */
@mixin cover-image {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/**
 * Centered block
 */
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/**
 * Centered element trick!
 */
@mixin absolute-center( $stretch: false, $extra-transforms: "", $top: 50%, $left: 50% ) {
	position: absolute;
	top: $top;
	left: $left;
	width: auto;
	max-width: 1000%;
	height: auto;
	transform: translateX( -50% ) translateY( -50% ) unquote( $extra-transforms );

	@if $stretch {
		min-width: 100%;
		min-height: 100%;
	}
}


/**
 * Make a flex "row"
 */
@mixin flex-row( $align-center: false, $inline-flex: false ) {

	@if $inline-flex {
		display: inline-flex;
	} @else {
		display: flex;
	}

	flex-flow: row nowrap;

	@if $align-center {
		align-items: center;
	}
}


/**
 * Font smoothing
 */
@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/**
 * Kill font smoothing!
 */
@mixin no-font-smoothing {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}


/**
 * Inline text link
 */
@mixin inline-link {
	color: $white;
	transition-property: color;
	@include transition-ease-in-out;

	&:hover {
		color: $secondary-light;
	}
}


/**
 * Styled list
 */
@mixin list {

	li {
		position: relative;
		margin: bsu(1/2) 0;
		padding-left: bsu(1);

		// counter / icons
		&:before, &:after,
		.svg-inline--fa {
			position: absolute;
			left: 0;
		}
	}

	// nested
	ul, ol {
		margin-top: 0;
	}

	a {
		@include inline-link;
	}
}


/**
 * Bulleted list
 *
 * Icons inserted with js/foot/list-icons.js
 */
@mixin bulleted-list {

}


/**
 * Numbered list
 */
@mixin numbered-list {

	&, ol {
		counter-reset: section;
	}

	li:before {
		counter-increment: section;
		content: counters( section, "." ) ".";
	}

	// nested
	ol li:before {
		font-size: 0.9rem;
	}
}


/**
 * Remove bottom margin if last child
 */
@mixin no-bottom-if-last {

	&:last-child {
		margin-bottom: 0;
	}
}


/**
 * Remove top margin if first child
 */
@mixin no-top-if-first {

	&:first-child {
		margin-top: 0;
	}
}


/**
 * WYSIWYG content format
 */
@mixin wysiwyg {

	// base spacing
	h1, h2, h3, h4, h5, h6,
	> ul, > ol,
	form,
	blockquote {
		margin-top: bsu(1);
	}

	[role="button"] {
		margin: bsu(1) bsu(1/2) 0 0;
	}

	// no space if at the beginning or end
	> h1, > h2, > h3, > h4, > h5, > h6,
	> p,
	> ol, > ul,
	blockquote, blockquote p {
		@include no-bottom-if-last;
		@include no-top-if-first;
	}

	// lists
	> ul, > ol {
		@include list;
	}
	> ul {
		@include bulleted-list;
	}
	> ol {
		@include numbered-list;
	}

} // wysiwyg


/**
 * Responsive embed container
 */
@mixin responsive-embed-container {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 440px;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/**
 * Fluid Property!
 */
@mixin fp( $property, $min, $max, $start: 320, $end: 1280, $clip: true, $clipAtStart: true, $clipAtEnd: true ) {

	$multiplier: ($max - $min) / ($end - $start) * 100;
	$adder: ($min * $end - $max * $start) / ($end - $start);
	$formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});

	@if $clip and $clipAtStart {
		@media (max-width: #{$start + 0px}) {
			#{$property}: $min + 0px;
		}
	}
	@if $clip and $clipAtEnd {
		@media (min-width: #{$end + 0px}) {
			#{$property}: $max + 0px;
		}
	}

	#{$property}: $formula;

} // fp()

@function fp-calc( $min, $max, $start: 320, $end: 1280 ) {

	$multiplier: ($max - $min) / ($end - $start) * 100;
	$adder: ($min * $end - $max * $start) / ($end - $start);
	$formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});

	@return $formula;
}


/**
 * Overlay
 */
@mixin overlay( $z-index: 0, $top: 0, $right: 0, $bottom: 0, $left: 0 ) {
	content: '';
	display: block;
	position: absolute;
	z-index: $z-index;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


/**
 * Generic transition
 */
@mixin transition-ease-in-out( $speed: 200ms ) {
	transition-timing-function: ease-in-out;
	transition-duration: $speed;
}


/**
 * Clearfix
 */
@mixin clearfix {

	&:before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}

/**
 * Transforming Hamburger
 */
@mixin hamburger( $width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s ) {

    $burger-height: $height !global;
    $burger-gutter: $gutter !global;

    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter + 5px;
    user-select: none;

    // 1. Fixes jagged edges in Firefox, see issue #10.
    & {
    	display: block;
    	width: $width   ;
    	height: $height;
    	background-color: $white;
    	outline: 1px solid transparent; // 1
		border-radius: $border-radius;
    	transition-property: background-color, transform;
    	transition-duration: $transition-duration;
    }
    &::before, &::after {
        display: block;
        width: $width;
        height: $height;
        background-color: $white;
        outline: 1px solid transparent; // 1
		border-radius: $border-radius;
        transition-property: background-color, transform;
        transition-duration: $transition-duration;
    }

    &::before, &::after {
        position: absolute;
        content: "";
    }

    &::before {
        top: -($height + $gutter);
    }

    &::after {
        top: $height + $gutter;
    }
}


// Select parts of the burger
@mixin burger-parts {
    &, &::before, &::after {
        @content;
    }
}

@mixin burger-top {
    &::before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &::after {
        @content;
    }
}


// animate to cross
@mixin hamburger-to-cross( $color: auto ) {
    & {
        background-color: transparent;
    }
    @if ($color != auto) {
        &::before, &::after {
            background-color: $color;
        }
    }
    &::before {
        transform: translateY( $burger-gutter + $burger-height ) rotate( 45deg );
    }
    &::after {
        transform: translateY( -( $burger-gutter + $burger-height ) ) rotate( -45deg );
    }
}
