/**
 * Typography
 *
 * @since   1.0.0
 * @package _rock
 */

*::selection {
	background: rgba( $primary, 0.9 );
	color: $white;
	text-shadow: none;
}
*::-moz-selection {
	background: rgba( $primary, 0.9 );
	color: $white;
	text-shadow: none;
}

html, body {
	font-size: $global-font-size;
}

body {
	line-height: $line-height-body;
	font-family: $font-sans-serif;
	color: $white;
	font-weight: 500;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 600;
}


/**
 * Paragraphs
 */
p {
	margin: bsu(2/3) 0 0;

	a {
		@include inline-link;
	}
}


/**
 * Anchors
 */
a, a:visited {
	@include inline-link;
	@include transition-ease-in-out;
	text-decoration: none;
}


/**
 * Blockquotes & Cites
 */
blockquote, q {
	margin: 0;
	font-style: italic;

	&:before,
	&:after {
		content: "";
	}
}


/**
 * Horizontal Rule
 */
hr {
	margin: bsu(1) 0;
	border: none;
	height: 2px;
	background: $secondary-light;
}


/**
 * Address
 */
address {
	font-style: normal;
}


/**
 * Lists
 */
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.bulleted,
ol.numbered {
	@include list;
}

ul.bulleted {
	@include bulleted-list;
}

ol.numbered {
	@include numbered-list;
}


/**
 * WYSIWYG content output
 */
.entry-content {
	@include wysiwyg;
}
