/**
 * Variables
 *
 * @since   1.0.0
 * @package _rock
 */

/**
 * Primary & Secondary Colors
 */
$primary-light      : #385F73;
$primary            : #274657;
$primary-dark       : #0d1f2d;
$secondary-light    : #d2973b;
$secondary          : #b98727;
$secondary-dark     : #362E26;

/**
 * Neutral & Support Colors
 */
$red                : #fa0f48;
$gray-dark          : #9b9b9b;
$gray               : #d3d3d3;
$gray-light         : #eaeaea;
$white              : #ffffff;
$black              : #000000;
$transparent        : trans();


/**
 * Fonts
 */
$line-height-body   : 1.6667;
$line-height-mid    : 1.714;
$line-height-small  : 1.333;
$line-height-xsmall : 1.2;
$global-font-size   : 16px;
$font-sans-serif    : 'Raleway', sans-serif;


/**
 * Spacing
 */
$bsu: 1.6667rem;


/**
 * Misc heights/widths
 */
$wrap-max           : 1200px;
$wrap-width         : 90%;
$header-height      : 60px;
$header-height-desk : 80px;


/**
 * Borders
 */
$border-width: 2px;
